/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
} 

/* Margin bottom by footer height */
body {
 
  margin-bottom: @footer-height + 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: @footer-height;
  background-color: @footer-background-color;
}

.clear {
  clear: both;
}

.footer-logos {
  text-align: center;
  background-color: @footer-background-color;
  padding-top: 10px;
  img, a {
    display: inline;
    width: @footer-logo-size;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    margin: 5px 15px;
  }
}
